body {
    font-family: "Yu Gothic UI Light";
    height: 100%;
    margin: 0;
    width: 100%;
}

#headline {
    text-align: center;
}

#headline1 {
    font-size: 72px;
    vertical-align: middle;
}
