body {
    font-family: Futura, 'Century Gothic', YuGothic, 'Hiragino Kaku Gothic ProN', 'Yu Gothic', Meiryo, sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

#headline {
    text-align: center;
}

#headline1 {
    font-size: 72px;
    padding: 10% 0%;
}
