html {
    font-size: 16px;
}

body {
    background-attachment: fixed;
    background-color: #aee6f4;
    background-image: url(../../image/bookshelf.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: YuGothic, 'Yu Gothic', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    align-items: center;
    background-color: #aee6f4;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#logo {
    float: left;
    padding: 0.8rem 2rem;
    height: 10vh;
}

.hamburger-input {
    display: none;
}

.hamburger-bg {
    background-color: linear-gradient(#aee6f4 60%, #5f74da);
    cursor: pointer;
    display: none;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.header-list {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-list-item {
    list-style: none;
    text-decoration: none;
}

.header-list-link {
    color: #000000;
    display: block;
    margin: 0 2rem 0 0;
    text-decoration: none;
}

.header-list-link:hover {
    filter: opacity(0.6);
}

.hamburger-button {
    display: none;
}

.hamburger-button-mark {
    background-color: #000000;
    display: block;
    height: 0.2rem;
    transition: 0.5s;
    width: 2rem;
}

#header-bottom {
    background-color: #aee6f4;
    height: 4px;
    position: fixed;
    top: 10.8vh;
    width: 100%;
    z-index: 102;
}

#headline {
    text-align: center;
}

#headline1 {
    border-bottom: 2px solid #3581d7;
    font-size: 5rem;
    padding: 26vh 2vh 0;
}

#headline2 {
    font-size: 2.2rem;
    padding: 2vh 0;
}

#headline3 {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

    .hamburger-list {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        left: 0;
        padding: 2rem;
        position: absolute;
        transform: translateX(-100%);
        transition: 0.5s;
        top: 100%;
        width: 100%;
    }

    #hamburger:checked ~ .hamburger-list {
        transform: translateX(0%);
        transition: 0.5s;
    }

    .hamburger-button {
        align-items: center;
        appearance: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 1.4rem;
        justify-content: center;
        right: 1rem;
        margin: 2.4rem 1rem;
        position: fixed;
        width: 2.4rem;
        z-index: 103;
    }

    .hamburger-button-mark {
        height: 0.2rem;
        margin: 0.2rem;
    }

    #hamburger:checked ~ .hamburger-bg {
        display: block;
        z-index: 101;
    }
    
    #hamburger:checked ~ .hamburger-button .hamburger-button-mark:nth-of-type(1) {
        transform: translate(0.2rem, 0.1rem) rotate(45deg);
        transform-origin: 0%;
    }
    
    #hamburger:checked ~ .hamburger-button .hamburger-button-mark:nth-of-type(2) {
        opacity: 0;
    }
  
    #hamburger:checked ~ .hamburger-button .hamburger-button-mark:nth-of-type(3) {
        transform: translate(0.2rem, 0.3rem) rotate(-45deg);
        transform-origin: 0%;
    }
}
