body {
    font-family: YuGothic, 'Yu Gothic', sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

#headline {
    background-attachment: fixed;
    background-image: url(../../image/bookshelf.png);
    text-align: center;
}

#headline1 {
    font-size: 72px;
    padding: 180px 0 0;
}

#headline2 {
    font-size: 40px;
}

#headline3 {
    font-size: 30px;
}
