body {
    background-attachment: fixed;
    background-color: #aee6f4;
    background-image: url(../../image/bookshelf.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: YuGothic, 'Yu Gothic', sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

#headline {
    text-align: center;
}

#headline1 {
    border-bottom: 2px solid #3581d7;
    border-top: 12px double #aee6f4;
    font-size: 72px;
    padding: 160px 24px 0;
}

#headline2 {
    font-size: 40px;
}

#headline3 {
    font-size: 30px;
}
